.home-page {
  background-image: url("../../public/images/Homepage-Cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Montserrat-Bold';
  color:#E6D4D4;
  text-align: center;
  padding: calc(40px);
  margin: 0;
  width: 100%;
  height: calc(100vh - 100px);
}

.home-page .text-box {
  padding: 20px;
  width: 75%;
  margin: 15vh auto;
  text-shadow: 4px 4px 4px  #181E26;
}

.home-page p {
  font-size: 30px;
  max-width: 1000px;
  margin: 0 auto;
}

.typewriter-wrapper {
  display: inline-flex;
}

.typewriter-wrapper .static-text {
  font-size: 80px;

}

.typewriter-wrapper .dynamic-text {
  font-size: 80px;
  margin-left: 15px;
}

.dynamic-text li {
  list-style: none;
  font-size: 80px;
}

.dynamic-text li span {
  position: relative;
}

.dynamic-text li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 4px solid #E6D4D4;
  animation: typing 1.5s steps(10) infinite;
}

.typewriter {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  width: 0;
  border-right: .15em solid #E6D4D4; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: 
    typing 2s steps(20, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #E6D4D4; }
}