@media only screen and (max-width: 1200px) {

    .home-page .text-box {
        margin-bottom: 0;
        width: 100%;
    }

    .home-page p {
        font-size: 25px;
    }
    
}

@media screen and (max-width: 1000px) {

    .home-page .infoContainer {
        grid-template-rows: 1fr 1fr;
    }

    .home-page #cgf {
        grid-column: 1 / 3;
        grid-row: 1;
    }

    .home-page #emailForm {
        grid-column: 1 / 3;
        grid-row: 2;
    }
     
    .home-page .text-box {
        width: 90%;
        padding: 0px;
    }

    .typing-container {
        height: 3rem;
    }

    .cursor {
        height: 3rem;
    }

    #large-logo {
        display: none;
    }
}
