@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../../public/Montserrat-ExtraLight.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../public/MontserratBold-p781R.otf')
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('../../public/Montserrat-Light.ttf')
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../../public/Montserrat-Regular.ttf')
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: #181E26; 
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;
  font-family: 'Montserrat-ExtraLight';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

/* Typical Font Styling */
h1 {
  font-size: 7rem;
  margin: 0;
}

h2 {
  font-size: 3rem;
  margin: 0;
}

h3 {
  font-size: 2rem;
  margin: 0;
}

h4 {
  font-size: 1.75rem;
}

p {
  font-size: 1.5rem;
}

.bold {
  font-family: 'Montserrat-Bold';
}

.error {
  display: block;
  font-size: 20px;
  text-align: center;
  margin: 2px;
  color: red;
}

.button {
  background-color: transparent;
  border: 3px solid #272e38;
  margin: 20px;
  padding: 15px;
  width: max-content;
  border-radius: 25px;
  display: inline;
  font-family: 'Montserrat-Bold';
  color: #272e38;
  font-size: 1.25rem;
}

.light .button {
  border: 3px solid #E6D4D4;
  color: #E6D4D4;
}

.feature-banner {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: max-content;
  /* min-height: 75vh; */
  padding: 75px;
  box-shadow: 0px 0px 20px 5px #181E26;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.light {
  color: #E6D4D4;
}

.dark { 
  color:#181E26;
}

.feature-banner-contents {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  width: 50%;
  min-height: 60vh;
}

.feature-banner h2 {
  font-family: 'Montserrat-Bold';
}

.feature-banner p {
  padding: 10px;
  font-family: 'Montserrat-Regular';
  text-shadow: 1px 1px 2px #63686d;
  backdrop-filter: blur(5px);
}

.dark p{
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 25px;
}

.feature-banner img {
  height: 85%;
  width: 45%;
  object-fit: contain;
}

.card-banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  margin: 50px 50px;
}

.card {
  flex-grow: 1;
  width: 100px;
  margin: 0 25px;
}

.card img {
  max-width: 75%;
  width: auto;
  height: auto;
  object-fit: contain;
  box-shadow: 0px 0px 20px 5px #181E26;
  margin-bottom: 25px;
}

.card .png {
  box-shadow: none;
}

