@media only screen and (max-width: 1400px) {
    .games-page {
        padding-top: 100px;
    }
}

@media only screen and (max-width: 1000px) {  
    .image {
        margin: 5px;
        height: 14vw;
        width: 23.33vw;
    }
    
    .imageFocus {
        padding: 10px;
        height: 17vw;
        width: 22.33vw;
    }

    .imageUnfocus {
        margin: 10px;
        height: 13vw;
        width: 21.66vw;
        filter: grayscale(0%) blur(0px);
    }

    .games-page .image:hover {
        height: 16vw;
        width: 26.66vw;
      }
      
    .games-page .imageUnfocus:hover {
        height: 16vw;
        width: 26.66vw;
    }

    .games-page h1 {
        font-size: 40px;
    }
}

@media only screen and (max-width: 768px) {
    .image {
        margin: 30px auto;
        height: 30vw;
        width: 50vw;
    }
    
    .imageFocus {
        padding: 10px;
        height: 35vw;
        width: 58.33vw;
    }

    .imageUnfocus {
        margin: 10px;
        height: 25vw;
        width: 41.66vw;
    }

    .games-page .image:hover {
        height: 34vw;
        width: 56.66vw;
      }
      
    .games-page .imageUnfocus:hover {
        height: 34vw;
        width: 56.66vw;
    }

    .games-page h2 {
        font-size: 20px;
      }
      
    .games-page p {
        font-size: 14px;
    }

}
