.projects-page {
  background: linear-gradient(180deg, #181E26 0%, #41546C 100%);
  background-attachment: fixed;
  padding-top: 100px;
  padding-bottom: 50px;
  justify-content: center;
  text-align: center;
  margin: 0px auto;
  color: #E6D4D4;
  min-height: calc(100vh - 100px)
}

.projectLibrary {
  width: 90%;
  height: 18vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
  align-items: center;
}

.projects-page a {
  text-decoration: underline;
}

.projects-page h1 {
  text-align: left;
  font-family: 'Montserrat-Bold';
  font-size: 4.5rem;
  text-shadow: 4px 4px 4px  #181E26;
  margin-left: 10%;
  margin-top: 50px;
}

.projects-page h2 {
  text-align: left;
  font-family: 'Montserrat-Bold';
  text-shadow: 4px 4px 4px  #181E26;
}

.projectInfo {
  grid-row: 2;
  grid-column: 1 / 4;
  text-align: left;
  width: 85%;
  text-align: left;
  margin: 0 auto;
  padding: 20px;
  padding-top: 15px;
  background-color: #181E26;
}

.projects-page .image:hover {
  height: 13vw;
  width: 21.66vw;
}

.projects-page .imageUnfocus:hover {
  height: 13vw;
  width: 21.66vw;
  filter: grayscale(0%) blur(0px);
}

.image {
  height: 12vw;
  width: 20vw;
  transition: all 0.1s;
  justify-self: center;
  transition: all 0.2s;
  margin: 20px;
  object-fit: cover;
  box-shadow: 0 0 20px 5px #181E26;
}

.imageFocus {
  height: 15vw;
  width: 25vw;
  justify-self: center;
  transition: all 0.2s;
  padding: 10px;
  background-color: #181E26;
  object-fit: cover;
}

.imageUnfocus {
  height: 11vw;
  width: 18.33vw;
  opacity: 50;
  justify-self: center;
  transition: all 0.2s;
  margin: 0px 20px;
  filter: grayscale(50%) blur(2px);
  object-fit: cover;
}