.projects-page {
  padding-top: 100px;
  padding-bottom: 50px;
  justify-content: center;
  text-align: center;
  margin: 0px auto;
  color: #E6D4D4;
  max-width: 1700px;
  margin: 0 auto;
}

.Games, .Apps, .Websites, .Tools {
  /* background-color: #41546ca5; */
  background: linear-gradient(-170deg,#ffffff8d 0%, #41546C 100%);
  padding-bottom: 50px;
  box-shadow: 0 0 20px 5px #181E26;
  width: 85%;
  margin: 0 auto 150px auto;
}

.projectLibrary {
  width: 90%;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 0 auto;
  align-items: center;
  justify-items: center;
}

.projects-page a {
  text-decoration: underline;
}

.projects-page h1 {
  text-align: center;
  font-family: 'Montserrat-Regular';
  font-size: 3.5rem;
  text-shadow: 4px 4px 4px  #181E26;
  padding-top: 50px;
  margin-top: 50px;
}

.projects-page h2 {
  text-align: left;
  font-family: 'Montserrat-Bold';
  text-shadow: 4px 4px 4px  #181E26;
  font-size: 2.5rem;
}

.projectInfo {
  grid-row: 2;
  grid-column: 1 / 4;
  text-align: left;
  width: 85%;
  text-align: left;
  margin: 0 auto;
  padding: 20px;
  padding-top: 15px;
  background-color: #181E26;
  box-shadow: 0 0 20px 5px #181E26;
}

.projects-page .image:hover {
  transform: scale(1.1);
}

.projects-page .imageUnfocus:hover {
  transform: scale(1.1);
  filter: grayscale(0%) blur(0px);
  box-shadow: 0 0 20px 5px #181E26;
}

.image {
  height: 200px;
  width: 305px;
  transition: all 0.1s;
  justify-self: center;
  transition: all 0.2s;
  margin: 20px;
  object-fit: contain;
  box-shadow: 0 0 20px 5px #181E26;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 0px solid #181E26;
}

.imageFocus {
  height: 230px;
  width: 350px;
  justify-self: center;
  transition: all 0.2s;
  box-shadow: 0 0 20px 5px #181E26;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 15px solid #181E26;
}

.imageUnfocus {
  height: 185px;
  width: 282px;
  opacity: 50;
  justify-self: center;
  transition: all 0.2s;
  margin: 0px 20px;
  filter: grayscale(50%) blur(2px);
  /* box-shadow: 0 0 20px 5px #181E26; */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: 0px solid #181E26;
}