@media only screen and (max-width: 1400px) {    
    #nav-bar {
        height: 100px;
    }

    #grimbar-logo {
        height: 75px;
    }

    #grimbar-name {
        height: 50px;
    }

}

@media only screen and (max-width: 1200px) {   
    #nav-bar {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 100px 400px;
        grid-template-areas: "logos return"
                            "mobilenavbar mobilenavbar";
    }


    .icon {
        display: inline-block;
    }

    #desktopNav {
        display: none;
    }

    #mobileNav {
        display: none;
        grid-area: mobilenavbar;
        background-color: #181e26e0;
        text-align: right;
        padding: 20px;
        margin: 0;
        align-self: flex-start;
    }

    #mobileNav .navbutton {
        display: block;
        background-color: transparent;
        width: max-content;
        margin-right: 10px;
        margin-left: auto;
        padding-left: 10px;
    }

}

@media only screen and (max-width: 600px) { 
    .icon {
        float: left;
    }

    #return-up {
        bottom: 100px;
    }

    #grimbar-logo {
        height: 55px;
    }

    #grimbar-name {
        height: 35px;
    }

}