@font-face {
  font-family: 'Montserrat-ExtraLight';
  src: url('../../public/Montserrat-ExtraLight.ttf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url('../../public/MontserratBold-p781R.otf');
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  background-color: #272e38;
}

/* include border and padding in element width and height */
* {
  box-sizing: border-box;
}

#root {
  height: 100vh;
  width: 100vw;

  font-family: 'Montserrat-ExtraLight';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
